/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

/* Header Styles */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    background-color: #f8f9fa;
}

.header1 {
    background-color: #f8f9fa;
}

.header2 {
    background-color: #e9ecef;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header3 {
    background-color: #dee2e6;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.header4 {
    background-color: #ced4da;
}

.header5 {
    background-color: #adb5bd;
    text-align: center;
}

.main-header h1 {
    margin: 10px 0;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjusted gap for spacing */
    margin-top: 10px; /* Added margin for spacing */
}

.icon-container img {
    width: 100px;
    height: 100px;
}

/* Lordicon Link */
.lordicon-link {
    margin-top: 20px;
    text-decoration: none;
    color: #0073e6;
}

/* Button Styles */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffffff;
}

button:focus {
    outline: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 0 20px;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #ff4757;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
}

.btn-secondary {
    background-color: transparent;
    color: #fff;
    padding: 15px 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
}

/* Text Container */
.text-container {
    max-width: 400px;
    margin: 0 20px;
}

.text-container p {
    margin: 5px 0;
}

/* Animated Header */
.animated-header lord-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

.animated-header:hover lord-icon {
    transform: translate(-50%, -50%) scale(1.2);
}
